@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-heading {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
}

/* hero */

#hero {
    height: 70vh;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

#content {
    background: url("../images/content.jpg") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#content div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#cover-content {
    background-color: rgba(11, 22, 254, 0.25);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
    width: 80%;
    left: 30px;
}

#cover-content > h2, #cover-content > h5 {
    color: #fafafa;
}

#content div p {
    margin-top: 10px; 
}

main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

.learn-more {
    flex: 1 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px; /* Add margin to separate checkbox and paragraph */
}

h1, h2, h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup {
    background-image: url("../images/aca.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    padding-bottom: 20px;
    flex-grow: 1;
}

#signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#signup-form > p {
    font-size: 10px;
}

.text-input {
    color: #fafafa;
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.text-input::placeholder {
    color: #111;
    font-weight: bold;
}

.s_button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  letter-spacing:1px;
  text-shadow:0;
  margin-top: 10px;
 }

.checkbox-container p {
    margin: 10px 0; /* Add some vertical spacing */
    font-size: 14px; /* Adjust font size for small screens */
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    min-height: 250px; /* Use min-height instead of height */
    padding-top: 10px;
    width: 100vw;
    color: white;
}


.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer  h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    margin: 0;
}

footer  p {
    max-width: 500px;
    margin: 10px auto 0;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    text-decoration: none;
    color: #ffffff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.container h2 {
    margin-bottom: 10px;
}

.box {
    border-radius: 25px;
    border: 2px solid #181a16;
    padding: 20px;
    width: 100%; /* Set width to 100% to expand based on container */
    max-width: 400px; /* Optional: Set a maximum width if needed */
    margin-top: 10px;
    margin-left: 10px; /* Adjust this margin as needed */
    border: 1px solid #ccc; /* Remove duplicate border property */
    text-align: center;
}

.box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #eeeeee;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 25px; /* Add some spacing between paragraph and button */
}


@media screen and (min-width: 540px) {
    footer {
        height: 210px;
    }
 }

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 40px;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    footer {
        height: 210px;
    }

    #signup-form {
        margin-top: 50px;
        max-width: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        margin: 50px auto;
    }

    #cover-content {
        background-color: rgba(11, 22, 254, 0.25);
        font-size: 130%;
        position: absolute;
        bottom: 30px;
        left: 30px;
        max-width: 40%;
        padding-left: 20px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
}